.headshot {
  width: 100%;
  max-width: 113px;
  max-height: 130px;
}

.dr-card {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  padding: 5px;
}

.dr-address, .dr-details {
  padding: 10px;
}

.dr-info {
  display: grid;
  grid-template-columns: 113px 1fr;
}

.user-input {
  text-align: center;
  padding: 30px;
}

.header {
  text-align: center;
}

input {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}


@media (min-width: 470px) {
  .dr-card {
    grid-template-columns: 3fr 2fr;
  }


}
